## Correlation between the RV of current 10 mins and the target.

In [12]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
import sys
sys.path.append("../")
import importlib

from proj_mod import data_processing
importlib.reload(data_processing);

In [15]:
path_book="../raw_data/kaggle_ORVP/book_train.parquet"

In [16]:
df_train=pd.read_csv("../raw_data/kaggle_ORVP/train.csv")

In [17]:
df_train

        stock_id  time_id    target
0              0        5  0.004136
1              0       11  0.001445
2              0       16  0.002168
3              0       31  0.002195
4              0       62  0.001747
...          ...      ...       ...
428927       126    32751  0.003461
428928       126    32753  0.003113
428929       126    32758  0.004070
428930       126    32763  0.003357
428931       126    32767  0.002090

[428932 rows x 3 columns]

In [18]:
len_train=len(df_train)

# Load in the precalculated RV values (see data_processing_functions.ipynb)

In [20]:
df_RV=pd.read_csv("../processed_data/RV_by_row_id.csv")

In [21]:
df_RV

        Unnamed: 0    row_id        RV
0                0       0-5  0.004499
1                1      0-11  0.001204
2                2      0-16  0.002369
3                3      0-31  0.002574
4                4      0-62  0.001894
...            ...       ...       ...
428927        3825  99-32751  0.001436
428928        3826  99-32753  0.001795
428929        3827  99-32758  0.001658
428930        3828  99-32763  0.002213
428931        3829  99-32767  0.001192

[428932 rows x 3 columns]