In this document, we will collect the data processing functions. The functions themselves will be stored within ../proj_mod/data_processing.py where proj_mod can be imported as a python module when needed. Following two python block surves as an example of importing proj_mod.

In [1]:
import sys
sys.path.append("../")

In [2]:
from proj_mod import data_processing

We will first demonstrate the function book_for_stock().

In [3]:
df_book_0_5=data_processing.book_for_stock(str_file_path="../raw_data/kaggle_ORVP/book_train.parquet/stock_id=0",time_id=5)

In [4]:
df_book_0_5

,index,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2,stock_id,wap,log_return
0,1,5,1,1.001422,1.002301,1.001370,1.002353,3,100,2,100,0,1.001448,0.000014
1,2,5,5,1.001422,1.002301,1.001370,1.002405,3,100,2,100,0,1.001448,0.000000
2,3,5,6,1.001422,1.002301,1.001370,1.002405,3,126,2,100,0,1.001443,-0.000005
3,4,5,7,1.001422,1.002301,1.001370,1.002405,3,126,2,100,0,1.001443,0.000000
4,5,5,11,1.001422,1.002301,1.001370,1.002405,3,100,2,100,0,1.001448,0.000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,297,5,585,1.003129,1.003749,1.003025,1.003801,100,3,26,3,0,1.003731,0.000245
297,298,5,586,1.003129,1.003749,1.002612,1.003801,100,3,2,3,0,1.003731,0.000000
298,299,5,587,1.003129,1.003749,1.003025,1.003801,100,3,26,3,0,1.003731,0.000000
299,300,5,588,1.003129,1.003749,1.002612,1.003801,100,3,2,3,0,1.003731,0.000000
300,301,5,593,1.003129,1.003749,1.003025,1.003801,100,3,26,3,0,1.003731,0.000000

Function trade_for_stock() is similar.

In [5]:
df_trade_0_5=data_processing.trade_for_stock(str_file_path="../raw_data/kaggle_ORVP/trade_train.parquet/stock_id=0",time_id=5)

In [7]:
df_trade_0_5.head()

   time_id  seconds_in_bucket     price  size  order_count  stock_id
0        5                 21  1.002301   326           12         0
1        5                 46  1.002778   128            4         0
2        5                 50  1.002818    55            1         0
3        5                 57  1.003155   121            5         0
4        5                 68  1.003646     4            1         0

In the following, we show an example of realized_vol function.

In [ ]:
rv, row= data_processing.realized_vol(df_book_0_5)

In [6]:
rv

np.float64(0.004499364172786558)

In [7]:
row

'0-5'