In [1]:
import pandas as pd

The file train.csv should contain the time_id and stock_id that indicates the training set of the data. This is the ONLY competition data that we can train with. Notice that the target of the training set is only contained in this file, and can not be directly recreated from the parquet files.

In [2]:
df_train=pd.read_csv("../raw_data/kaggle_ORVP/train.csv")

In [3]:
df_train

        stock_id  time_id    target
0              0        5  0.004136
1              0       11  0.001445
2              0       16  0.002168
3              0       31  0.002195
4              0       62  0.001747
...          ...      ...       ...
428927       126    32751  0.003461
428928       126    32753  0.003113
428929       126    32758  0.004070
428930       126    32763  0.003357
428931       126    32767  0.002090

[428932 rows x 3 columns]

The file test.csv should contain the time_id and stock_id for test set when submitted to kaggle.

In [4]:
df_test=pd.read_csv("../raw_data/kaggle_ORVP/test.csv")

In [5]:
df_test

   stock_id  time_id row_id
0         0        4    0-4
1         0       32   0-32
2         0       34   0-34

Data structure of the dataset is extensively explained within https://www.kaggle.com/code/jiashenliu/introduction-to-financial-concepts-and-data?scriptVersionId=67183666#Competition-data. 

Furthermore, one might want to follow https://www.kaggle.com/code/stassl/recovering-time-id-order to "recover" the time-id order. It might be ill-advised to trust this "recovery" fully to the extent of using it as time-series parameters in training, but we can use the recovered order in cross validation to avoid "using future to predict the past". 

We will first process the data, creating functions that generate targets and parameters. We will use the "previous RVP" as absolute baseline model in training. We will then try our best to recreate the best solution on kaggle leaderboard according to https://www.kaggle.com/competitions/optiver-realized-volatility-prediction/discussion/274970. After which, we will attempt at creating our own NN model, hopefully improving upon the best solution model.

In [6]:
df_book_0=pd.read_parquet("../raw_data/kaggle_ORVP/book_train.parquet/stock_id=0")

In [7]:
df_book_0.head()

,time_id,seconds_in_bucket,bid_price1,ask_price1,bid_price2,ask_price2,bid_size1,ask_size1,bid_size2,ask_size2
0,5,0,1.001422,1.002301,1.00137,1.002353,3,226,2,100
1,5,1,1.001422,1.002301,1.00137,1.002353,3,100,2,100
2,5,5,1.001422,1.002301,1.00137,1.002405,3,100,2,100
3,5,6,1.001422,1.002301,1.00137,1.002405,3,126,2,100
4,5,7,1.001422,1.002301,1.00137,1.002405,3,126,2,100

In [8]:
df_book_0["time_id"].unique()

array([    5,    11,    16, ..., 32758, 32763, 32767], dtype=int16)